@use '../01-settings' as *;

.card {
	margin: 0 auto;

	.card-footer,
	.card-header {
		// border: 1px solid $primary;
		background-color: $secondary;
	}

	.card-header,
	.card-footer,
	.card-body {
		padding: 0.7rem;
	}
}

.console {
	border: 1px dotted #000;
	padding: 0.3rem 0;
	margin: 1rem 0;
}
