@use '../01-settings/__index' as *;

.card {
	margin: 0 auto;

	.card-footer,
	.card-header {
		// border: 1px solid $primary;
		background-color: $secondary;
	}

	.card-header,
	.card-footer,
	.card-body {
		padding: 0.7rem;
	}
}
